* {
    box-sizing: border-box;
    margin:0;
    padding: 0; }
body {
    background: #000;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 20px;
}
.item{
    background: #58d5f6;
    color: #fff;
    padding: 10px;
}
.item:nth-child(even) {
    background: #236fc8;
}
