* {
  background: black;
  color: white;
}
div {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: relative;

  animation-name: loading;
  animation-duration: 5s;
  animation-delay : 2s;
  animation-iteration-count : infinite;
}
@keyframes loading {
  0%    {left:0px; top:500px;}
  25%   {left:100px; top:500px;}
  50%   {left:200px; top:500px;}
  75%  {left:300px; top:500px;}
  100%  {left:400px; top:500px;}
}