* {
    box-sizing: border-box;
    margin:0;
    padding: 0; }
body {
    background: #000;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}
.num{
    background: #58d5f6;
    color: #fff;
    padding: 10px;
}
.num:nth-child(even) {
    background: #236fc8;
}
.one{
    grid-column-start: 1;
    grid-column-end: 4;
}
.two{
    grid-column: 1/4;
}
.one{
    grid-column-start: 1;
    grid-column-end: 4;
}
